.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #76ee06;
  }
  
  h1 {
    margin-bottom: 20px;
    background-color: blue;
    color: hsl(0, 89%, 48%);
  }
  
  button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }
  